div#--app-app-container{
    max-width: 550px;
    min-height:100vh;
    margin:0 auto;
    background-color:white;
}

header#--app-header-container{
    background:url('./images/header-bg.png');
    background-color:rgba(0,0,0,.8);
    height:25vh;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 12% 38% 38% 12%;
    grid-template-areas: 
    "gutter title title gutter2"
    "gutter link link gutter2";
    position:relative;
}

#--app-page-title{
    font-size:42.79px;
    margin-top:41px;
    color:#FFF;
    font-weight:bold;
    grid-area:title;
    text-align: center;
    text-decoration:none;
    --bs-btn-padding-x:unset !important;
    --bs-btn-padding-y:unset !important;
}

#--app-switch-page-link{
    color:#FFF;
    grid-area:link;
    text-decoration: none;
    font-size:14px;
    --bs-btn-padding-x:unset !important;
    --bs-btn-padding-y:unset !important;
    height:20px !important;
}

#--app-switch-page-link:hover{
    cursor: pointer;
}

div#--app-content-container{
    height:75vh;
}

.modal-header{
    justify-content: center !important;
    border-radius: 3px !important;
    border: 1px solid white !important;
}

div#--app-pagination-container{
    display:flex;
    justify-content: space-evenly;
    padding-bottom:20px;
}


@media screen and (min-width:550px) {
    header#--app-header-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        /* grid-template-rows: 1fr;
        grid-template-columns: 12% 38% 38% 12%;
        grid-template-areas: 
        "gutter title link gutter2";  */
    }

    div#--app-content-container{
        min-height:50vh !important;
    }

    #--app-page-title, #--app-switch-page-link{
        margin-top:unset;
    }
    #--app-page-title{
        margin-left:42px;
    }
    #--app-switch-page-link{
        margin-right:42px;
    }
}